*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#toboolist{
    font-size: 40px;
    display: inline;
    vertical-align: middle;
    line-height: 59px;
}
 .display-inline{
    display: inline;
 }
 .display-block{
    display: block;
 }
    
#margin-logo{
    vertical-align: middle; 
}
#title{
    padding-left: 18px;
    padding-top: 10px;
}
main{
    height: 800px;
    background-color: rgb(245, 247, 250);
    padding-top: 40px;
}

#lista{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 20px;
}
#triangolo{
    height: 12px;
}

#elenco{
    margin-top: 40px;
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 20px;
    
}

strong{
    color: rgb(73, 75, 77);
    font-size: 20px;
    
}
.list-item{
    font-weight: 600;
    color: rgb(73, 75, 77);
}
#spunta{
    height: 16px;

}
h3{
    display: inline-block;
    color: rgb(73, 75, 77);
    padding-bottom: 10px;
}
.spunta{
    padding: 0px 3px 0px 3px;
    display: inline;
    border: solid;
    color: rgb(129, 199, 178);
    border-width: 2px;
    border-radius: 10px ;
    border-color: rgb(129, 199, 178) ;
    font-size: 13px;
    font-weight: 600;
}
.padding-bottom{
    padding-bottom: 20px;
}
.list-button-blue{
    color: white;
    background-color: rgb(67,172,232) ;
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px;
}
.space{
    padding-bottom: 35px;
}
.list-button-purple{
    color: white;
    background-color: rgb(156, 119, 224);
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px;
}
.cross {
    padding: 0px 3px 0px 3px;
    display: inline;
    border: solid;
    color: rgb(224, 10, 10);
    border-width: 2px;
    border-radius: 10px ;
    border-color: rgb(224, 10, 10) ;
    font-size: 13px;
    font-weight: 600;
}
.list-button-green{
    color: white;
    background-color: rgb(99, 194, 168);
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px; 
}
.list-button-orange{
    color: white;
    background-color: rgb(250, 160, 42);
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px; 
}
.list-button-fucsia{
    color: white;
    background-color: rgb(214, 101, 156);
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px; 
}
.list-button-lime{
    color: white;
    background-color: rgb(175, 199, 38);
    font-size: 10px;
    padding: 7px 10px  ;
    border-radius: 11px; 
}

#add-task{
   background-color: rgb(67,172,232) ;
   border: none; 
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 12px;
   cursor: pointer;
   
}
#add-section{
    background-color: white;
    color: rgb(199, 199, 199);
    border-width: 1px;
    border-color: rgb(199,199,199);
    padding: 4px 9px ;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    border-style: solid;
}
.inline{
    display: inline-block;
}
